*{
    display: block;
}


title{
    color:white;
}
h1 { 
    text-align: center;
}

div.sandwiches{
    background-color:beige;
    width: 100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 10px;
}